body{
  background-color: #65A6D0;
	font-family: 'Alegreya Sans', sans-serif;
  position: relative;
  color: #fff;
  position: relative;
	letter-spacing: 0.05rem;
	line-height: 1.5;
}
html, body {
	height: 100%;
	width: 100%;
}
.City_button{
  color: #fff;
  font-size:1.5em;
  background-color: #65A6D0;
  border-top-style: hidden;
	border-left-style: hidden;
	border-right-style: hidden;
	border-bottom-style: hidden;
}

#unitBtn {
	background: none;
	border: 1px solid rgba(255,255,255,0.25);
	border-radius: 50%;
	color: #fff;
	transition: background 1s ease-in-out, border 0.2s ease-in-out;
}
#editBtn {
	background: none;
	border: 1px solid rgba(255,255,255,0.25);
	border-radius: 50%;
	color: #fff;
	transition: background 1s ease-in-out, border 0.2s ease-in-out;
}
.city_temperature{
	padding-bottom: 20px;
}
.City_name{
  padding-top:10px;
}
.weather_icon{
  padding-top:10px;
}
.temperature_change{
  padding-top:5px;
}
.Edit_city{
  padding-top:5px;
}

.location_icon{
  padding-left:15px;
}
.city_1{
	border-bottom:inset;
}
.city_2{
	border-bottom: inset;
}
.city_3{
	border-bottom: inset;
}
.city_4{
	border-bottom: inset;
}
.city_5{
	border-bottom: inset;
}
