/* CSS Document */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:focus {
	outline: none;
}
html, body {
	height: 100%;
	width: 100%;
}
body{
	background-color: #65A6D0;
	font-family: 'Alegreya Sans', sans-serif;
	position: relative;
	letter-spacing: 0.05rem;
	line-height: 1.5;
	text-align: center;
	color: #fff;
}
#unitBtn {
	background: none;
	border: 1px solid rgba(255,255,255,0.25);
	border-radius: 50%;
	color: #fff;
	height: 40px;
	transition: background 1s ease-in-out, border 0.2s ease-in-out;
	width: 40px;
}
#editBtn {
	background: none;
	border: 1px solid rgba(255,255,255,0.25);
	border-radius: 50%;
	color: #fff;
	height: 40px;
	transition: background 1s ease-in-out, border 0.2s ease-in-out;
	width: 40px;
}
#My_Cities{
	text-align: left;
}
.alert_icon{
	padding-top: 7px;
}
.form-control{
	border-radius: 10px;
}

.city_name{
	padding-top: 40px;
}
.city_temperature{
	padding-top: 40px;
}
.weather_icon{
    border-radius: 200px;
    background-color:#2C86A7;
    padding-left:25px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
}
.city_one{
	border-bottom: 6px solid white;
}
.location_icon{
	padding-top: 15px;
	
}
.city_1{
	border-bottom:inset;
}
.city_2{
	border-bottom: inset;
}
.city_3{
	border-bottom: inset;
}
.city_4{
	border-bottom: inset;
}