body{
	background-color: #65A6D0;
	font-family: 'Alegreya Sans', sans-serif;
	position: relative;
	letter-spacing: 0.05rem;
	line-height: 1.5;
	text-align: center;
	color: #fff;
}
#navigateBtn{
	border-radius: 20%;
	font-size: 1em;
	padding-top: 5px;
	background-color: #70B6E4;
	color: white;
	border-color: white;
	border-width: medium;
}
#Three_dates_button .date{
	padding: 0;
	color:#fff;
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;
	border-top-style: hidden;
	border-left-style: hidden;
	border-right-style: hidden;
	background-color: #65A6D0;
	border-bottom-style: inset;
}
#Three_dates_button .date1{
	padding: 0;
	color:#fff;
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;
	border-top-style: hidden;
	border-left-style: hidden;
	border-right-style: hidden;
	border-bottom-style: hidden;
	background-color: #65A6D0;
}
#Three_dates_button .date2{
	padding: 0;
	color:#fff;
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;
	border-top-style: hidden;
	border-left-style: hidden;
	border-right-style: hidden;
	border-bottom-style: hidden;
	background-color: #65A6D0;
}
.Alert{
  font-style:uppercase;
  color: red;
}