* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:focus {
	outline: none;
}
html, body {
	height: 100%;
	width: 100%;
}
body{
	background-color: #65A6D0;
	font-family: 'Alegreya Sans', sans-serif;
	position: relative;
	letter-spacing: 0.05rem;
	line-height: 1.5;
	text-align: center;
	color: #fff;
}
.city{
	border-radius: 25%;
	border-radius: 100px;
	font-size: 1.5em;
	background-color: #70B6E4;
	color: white;
	border-color: whitesmoke;
	border-bottom-style: solid;
	border-width: thick;
	width: 150px;
	height: 80px;
}
#navigateBtn{
	border-radius: 30%;
	font-size: 1em;
	padding-top: 5px;
	border-width: medium;
	background-color: #70B6E4;
	border-color: white;
	color: white;
	width: 100px;
	
}
