{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Forecast - Alert!</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Forecast CSS -->
	<link rel = "stylesheet" type="text/css" href = "{% static 'weather/css/forecast.css' %}" />

</head>
<body>
	<!-- your single-location forecast interface here -->
	<!-- Back, time, and City -->
	<div id="Back_City_Time" class="wrapper">
		<div class = "row">
			<div class = "col-md-4">
			<a href = "/weather/comparison/"><button id="navigateBtn" >Back</button></a>
			</div>
			<div class = "col-md-4">
				<h4 class="location">Berkeley</h4>
			</div>
			<div class = "col-md-4">
				<h4 class="time">9:30</h4>
			</div>
		</div>
	</div>
	<!-- Three dates of future Weather -->
	<div id="Three_dates_button">
		<div class = "row">
			<div class = "col-md-4">
			<h4 class = "day">Today</h4>
			<a href = "/weather/forecast/"><button type="button" class="date1" >5/10</button></a>
			</div>
			<div class = "col-md-4">
			<h4 class = "day">Tomorrow</h4>
			<button type="button" class="date2" >5/11</button>
			</div>
			<div class = "col-md-4">
			<h4 class = "day">Friday</h4>
			<button type="button" class="date">5/12</button>
			</div>	
		</div>
	</div>
	<!-- Today Weather -->
	<dir id = "today_weather">
	<div class="weatherIco1n">
		<div class="Sunny2">
			<div class="inner2"><img src="{% static 'weather/Assets/rainy.png' %}" alt="Rainy icon" width="200" height="188" class="rounded-circle" > </div>
		</div>
	</div>
<h5 class="conditions"><strong>Rainy</strong></h5>
	<p class="tempRange"> <span class="low">58°</span> | <span class="high">68°</span> </p>
	<h5 class = "alert">Alert: Extreme Weather Condition</h5>
	</dir>
	
	
	
	<!-- Hourly Forecast -->
<div id = "Hourly_time">
			<h4>Hourly Forecast</h4>
			<div class = "row">
				<div class = "col-md-3">
					<h5 class = "time">Current</h5>
				</div>
				<div class = "col-md-3">
					<h5 class = "time">10:00</h5>
				</div>
				<div class = "col-md-3">
					<h5 class = "time">11:00</h5>
				</div>
				<div class = "col-md-3">
					<h5 class = "time">12:00</h5>
				</div>
			</div>
		</div>
		<div class = "Hourly time">
			<div class = "row">
				<div class = "col-md-3">
					<div class="weatherIcon">
						<div class="Sunny">
						<div class="inner"><div class="inner"><img img src="{% static 'weather/Assets/rainy.png' %}"alt="Sunny icon" class="rounded-circle" style= "width:100px;height:100px;"> </div></div>
						</div>
					</div>
				</div>
				<div class = "col-md-3">
					<div class="weatherIcon">
						<div class="Sunny">
						<div class="inner">
						  <div class="inner"><img src="{% static 'weather/Assets/rainy.png' %}" alt="Sunny icon" class="rounded-circle" style= "width:100px;height:100px;"> </div></div>
						</div>
					</div>
				</div>
				<div class = "col-md-3">
					<div class="weatherIcon">
						<div class="Sunny">
						<div class="inner">
						  <div class="inner"><img src="{% static 'weather/Assets/rainy.png' %}"  alt="Sunny icon" class="rounded-circle" style= "width:100px;height:100px;"> </div></div>
						</div>
					</div>
				</div>
				<div class = "col-md-3">
					<div class="weatherIcon">
						<div class="Sunny">
						<div class="inner">
						  <div class="inner"><img src="{% static 'weather/Assets/rainy.png' %}" alt="Sunny icon" class="rounded-circle" style= "width:100px;height:100px;"> </div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class = "Hourly temp">
			<div class = "row">
				<div class = "col-md-3">
					<h5>62°</h5>
				</div>
				<div class = "col-md-3">
					<h5>67°</h5>
				</div>
				<div class = "col-md-3">
					<h5>65°</h5>
				</div>
				<div class = "col-md-3">
					<h5>68°</h5>
				</div>
			</div>
		</div>
		<div class = "Hourly weather">
			<div class = "row">
				<div class = "col-md-3">
					<h5>Rainy</h5>
				</div>
				<div class = "col-md-3">
					<h5>Rainy</h5>
				</div>
				<div class = "col-md-3">
					<h5>Rainy</h5>
				</div>
				<div class = "col-md-3">
					<h5>Rainy</h5>
				</div>
			</div>
		</div>
	
</body>
</html>