{% load static %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Search-Page</title>
	<script src="https://use.fontawesome.com/973aa1b100.js"></script>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href =  "{% static 'weather/css/Search.css' %}"/>
</head>
	<div class = "row">
	  <div class = "col-md-2">
		  <button id="navigateBtn">Cancel</button>
		</div>
		<div class = "col-md-7">
			<input class="form-control" name="size" type="text" placeholder="Search/Add Cities.." /></div>
	  <div class="col-md-1">
        <button class="form-control " aria-hidden="true"><i class="fa fa-search"></i></button></div>
	</div>
	<!--Popular cities-->
	<div class = "Popular-city">
		<h1>Popular City</h1>
	<div class = "row1">
		<div class = "row">
			<div class = "col-md-4">
				<button type="button" class="city" >Tokyo</button>
			</div>
			<div class = "col-md-4">
				<button type="button" class="city" >Sydney</button>
			</div>
			<div class = "col-md-4">
				<button type="button" class="city" >New York</button>
			</div>
		</div>
	</div>
		<br>
	<div class = "row2">
		<div class = "row">
			<div class = "col-md-4">
				<button type="button" class="city" >Seattle</button>
			</div>
			<div class = "col-md-4">
				<button type="button" class="city" >Bangkok</button>
			</div>
			<div class = "col-md-4">
				<button type="button" class="city" >Hong Kong</button>
			</div>
		</div>
	</div>
		<br>
	<div class = "row3">
		<div class = "row">
			<div class = "col-md-4">
				<button type="button" class="city" >Macau</button>
			</div>
			<div class = "col-md-4">
				<button type="button" class="city" >Vancouver</button>
			</div>
			<div class = "col-md-4">
				<button type="button" class="city" >Paris</button>
			</div>
		</div>
	</div>
	</div>
	<br>
	<div class = "Nearby-city">
		<h1>Nearby City</h1>
	<div class = "row1">
		<div class = "row">
			<div class = "col-md-4">
				<button type="button" class="city" >Albany</button>
			</div>
			<div class = "col-md-4">
				<button type="button" class="city" >El Cerrito</button>
			</div>
			<div class = "col-md-4">
				<button type="button" class="city" >Richmond</button>
			</div>
		</div>
	</div>
		<br>
	<div class = "row2">
		<div class = "row">
			<div class = "col-md-4">
				<button type="button" class="city" >Alameda</button>
			</div>
			<div class = "col-md-4">
				<button type="button" class="city" >Hayward</button>
			</div>
			<div class = "col-md-4">
				<button type="button" class="city" >San Francisco</button>
			</div>
		</div>
	</div>
		<br>
	<div class = "row3">
		<div class = "row">
			<div class = "col-md-4">
				<button type="button" class="city" >Daly City</button>
			</div>
			<div class = "col-md-4">
				<button type="button" class="city" >Emeryville</button>
			</div>
			<div class = "col-md-4">
				<button type="button" class="city" >Oakland</button>
			</div>
		</div>
	</div>
	</div>
<body>
</body>
</html>
